/***** Color variables *****/
$purple: rgb(147, 23, 209);
/***** End Color variables *****/
* {
    box-sizing: border-box;
    margin: none;
    padding: none;
    // outline: solid 2px red;
}
a {
    text-decoration: none;
    color: black;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.headSection {
    min-height: 55vh;
}
.navbar {
    width: 86%;
    margin: auto;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h1 {
        font-size: 4rem;
    }
    span {
        color: $purple;
        font-weight: 500;
        border-bottom: dotted 1px black;
    }
}
.right {
    @include flex-center();
    img{
        height: auto;
        width: 100%;
        transform: scaleX(-1);
    }
}
// 
.projects {
    background: rgba(201, 223, 231, 0.853);
    min-height: 40vh;
}
    .mycard-1{
        border-top: 5px solid rgb(185, 191, 249);
    }
    .mycard-2{
        border-top: 5px lightcoral solid;
        }
    .mycard-3{
        border-top: 5px solid rgb(157, 248, 206);
    }
    .mycard-4{
        border-top:5px solid rgb(157, 248, 206);
    }
    .mycard-5{
        border-top:5px solid rgb(186, 255, 48);    }
    .mycard-6{
        border-top:5px solid rgb(218, 157, 248);
    }

.mycard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 53vh;
    width: 22.75rem;
    background-color: white;

    // border-radius: 18px;
}
// 
.contact {
    min-height: 70vh;
    // background: rgba(201, 223, 231, 0.853);
    h4 {
        margin: 2rem 0rem;
        // font-weight: 100;
    }
    .img {
        @include flex-center();
        img{
            width: 100%; 
            height: auto;
        }
    }

    h1{
        font-size: 3rem;
        display: inline;
        border-bottom: dashed $purple;
    }
}
footer {
    h5 {
        font-weight: 100;
        margin-top: 10px;
    }
    background: rgba(201, 223, 231, 0.853);
}
// Media queries:

/* Smartphones (landscape) ----------- */
@media only screen 
and (max-width : 321px) {
/* Styles */
.navbar {
    width: 95%;
}
.headSection {
    h1 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.2rem;
    }
}
.contact-link{
        font-size: 1.3rem;
}

footer {
    h5{
    font-size: 0.8rem;
}
}
}


/* iPads (landscape) ----------- */
@media only screen 
and (max-device-width : 768px) {
    .headSection {
        h1 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
    .contact {
        min-height: auto;
        h4 {
            margin: 2rem 0rem;
            font-size: 1.1rem;
        }
        h1{
            font-size: 2.3rem;
        }
    }
    footer {
        @include flex-center();
        h5{
        font-size: 0.8rem;
    }
    }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}