/***** Color variables *****/
/***** End Color variables *****/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: none;
  padding: none;
}

a {
  text-decoration: none;
  color: black;
}

.headSection {
  min-height: 55vh;
}

.navbar {
  width: 86%;
  margin: auto;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.left h1 {
  font-size: 4rem;
}

.left span {
  color: #9317d1;
  font-weight: 500;
  border-bottom: dotted 1px black;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right img {
  height: auto;
  width: 100%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.projects {
  background: rgba(201, 223, 231, 0.853);
  min-height: 40vh;
}

.mycard-1 {
  border-top: 5px solid #b9bff9;
}

.mycard-2 {
  border-top: 5px lightcoral solid;
}

.mycard-3 {
  border-top: 5px solid #9df8ce;
}

.mycard-4 {
  border-top: 5px solid #9df8ce;
}

.mycard-5 {
  border-top: 5px solid #baff30;
}

.mycard-6 {
  border-top: 5px solid #da9df8;
}

.mycard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 53vh;
  width: 22.75rem;
  background-color: white;
}

.contact {
  min-height: 70vh;
}

.contact h4 {
  margin: 2rem 0rem;
  font-weight: 100;
}

.contact .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .img img {
  width: 100%;
  height: auto;
}

.contact h1 {
  font-size: 3rem;
  display: inline;
  border-bottom: dashed #9317d1;
}

footer {
  background: rgba(201, 223, 231, 0.853);
}

footer h5 {
  font-weight: 100;
  margin-top: 10px;
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 321px) {
  /* Styles */
  .navbar {
    width: 95%;
  }
  .headSection h1 {
    font-size: 2.5rem;
  }
  .headSection p {
    font-size: 1.2rem;
  }
  .contact-link {
    font-size: 1.3rem;
  }
  footer h5 {
    font-size: 0.8rem;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (max-device-width: 768px) {
  .headSection h1 {
    font-size: 2.5rem;
  }
  .headSection p {
    font-size: 1.2rem;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer h5 {
    font-size: 0.8rem;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
/*# sourceMappingURL=sass.css.map */